<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">

						</div>
						<div class="content">
							<div class="inner">
								<h1>Gabe Olivares</h1>
								<p> I built this website to show the website’s that I’ve built</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><%= link_to "About", "#about" %></li>
								<li><%= link_to "Projects", "#project" %></li>
								<li><%= link_to "Resume", "#resume" %></li>
								<li><%= link_to "Contact", "#contact" %></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<div class="image-about"><%= image_tag("me.jpg", style:'width:60%') %></div>
								<p>
								Hello! My name is Gabriel “Gabe” Olivares and I recieved my B.S. in Computer Information Science from
								St. Edwards University in 2014. Currently I am a software engineer at Malauzai in Austin, Texas, where I
								work as a back end Ruby engineer. I have knowledge in web development
								using JavaScript, PSQL, HTML, JQuery, AngularJS, and ReactJS. I have implemented RESTful API's for the
								IOS and Android team to use. Previously I worked at Neubus Inc.(2013-2017) and some applications I've developed for them
								include a series of enterprise applications such as
								<a target="_blank" href="http://airscanmobile.com/">airScan Mobile</a>, <a target="_blank"
								href="https://energy-depot.us/">Energy-Depot</a>, <a target="_blank"
								href="http://neuone.com/products/pdf2everyone/">PDF2Everyone</a>, <a target="_blank"
								href="https://tabcbond.airvbox.com/">vBox</a>, and <a target="_blank"
								href="http://sima.io/">Sima</a>
								. I have also worked on the
								mobile web development and design of their applications. In other
								work, I have developed Heart Over Height and the Miles Collective websites. Various other
								projects and sites which are shown in <%= link_to "projects", "#project" %>.</p>
							</article>

						<!-- Projects -->
							<article id="project">
								<h2 class="major">Projects</h2>
								<a target="_blank" href="http://www.heartoverheighttraining.com/">
									<h3>Heart Over Height Training</h3>
									<%= image_tag("HOHTlogo.png", style:'width:100%') %>
								</a>
								<p>
									Worked as the sole developer of Heart Over Height Training.
									I utilized Ruby on Rails, HTML, Javascript, and JQuery to develop HOHT. Also, I
									ensured responsiveness and mobile friendliness using libraries such as Bootstrap.
									<br>
									You can visit HOHT at this <a target="_blank" href="http://www.heartoverheighttraining.com/">link</a>.
								 </p>
								 <a target="_blank" href="http://www.themilescollective.com/">
	 								<h3>The Miles Collective</h3>
	 								<%= image_tag("mileslogo.png", style:'width:100%') %>
	 							</a>
	 							<p>
									Developed a Ruby on Rails application for artist Jeff Miles. This website displays his biography,
									contact info, and a gallery of his artwork. I utilized Ruby on Rails, HTML, Javascript, and
									JQuery to develop The Miles Collective
	 								<br>
	 								You can visit The Miles Collective at this <a target="_blank" href="http://www.themilescollective.com/">link</a>.
	 							 </p>
								 <a target="_blank" href="https://pickflick.herokuapp.com/">
									<h3>Pick Flick</h3>
									<%= image_tag("Pick_Flick.png", style:'width:100%') %>
								</a>
								<p>
									Single page Ruby on Rails movie application. You can create, edit, delete, and search from your list of movies.
									When you create a movie you can add title, genre, year, actors, and rating. Also you can search from the
									imdb(uses imdb api) and see info about additional movies.
									<br>
									You can visit Pick Flick at this <a target="_blank" href="https://pickflick.herokuapp.com/">link</a>.
								 </p>
								 <a target="_blank" href="http://pokedex-gabeolivares.herokuapp.com/">
									<h3>Pokédex Application</h3>
									<%= image_tag("Pokedex.png", style:'width:100%') %>
								</a>
								<p>
									Created a single page ROR application integrating the Pokeapi to search and display information about Pokémon.
									 Version 2 API was recently released and the project is still in development for improvements and more features.
									<br>
									You can visit Pokédex Application at this <a target="_blank" href="https://pickflick.herokuapp.com/">link</a>.
								 </p>


							</article>

						<!-- resume -->
							<article id="resume">
								<h2 class="major">Resume</h2>
								<iframe src="https://drive.google.com/file/d/0BzrR9YPb_8vUWFg4elhfRWlHU2M/preview" width="100%" height="550"></iframe>
						  </article>


						<!-- Contact -->
							<article id="contact" style="text-align:center;">
								<h2 class="major">Contact</h2>
								<p>Please contact me below by email or phone</p>
								<ul class="icons" style="text-align:center;">
									<li><a href="mailto:gabeolivares60@gmail.com" target="_top" class="fa fa-envelope"><span class="label"></span></a></li>
									<li><a href="tel:210-422-5222" class="fa fa-phone"><span class="label"></span></a></li>
									<li><a target="_blank" href="https://www.linkedin.com/in/gabriel-olivares" class="icon fa-linkedin-square"><span class="label">Linkedin</span></a></li>
									<li><a target="_blank" href="https://github.com/gabeolivares" class="icon fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>



					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Gabe Olivares</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>
